<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.autumn.dao.RoleMapper">

    <sql id="filedAll">
        id, name, details, create_time, update_time
    </sql>

    <resultMap id="findAll" type="com.autumn.pojo.Role">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="details" property="details"/>
        <id column="update_time" property="updateTime"/>
        <id column="create_time" property="createTime"/>
    </resultMap>

    <!--根据用户id查询对应的角色-->
    <select id="findAllRoleByUserId" resultMap="findAll">
        SELECT
        <include refid="filedAll"/> FROM role
        WHERE
        id in (SELECT role_id from user_role WHERE user_id = #{userId})
    </select>
</mapper>